.listItem {
  margin-bottom: 0.7rem;
}

.loginPrompt {
  margin-top: -rem;
  margin-bottom: 2rem;
}

.homeHeader {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 3px solid var(--medium-color);
  border-top: 3px solid var(--medium-color);
  margin-block: 2rem;
}
