@media screen and (max-width: 1199px) {
  .navContainer {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .navContainer {
    display: none;
  }
}

.navBackground {
  padding: 1rem;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow-small);
}

.navContainer {
  width: 80%;
  margin: auto;
}

.navElement {
  margin-right: var(--margin-4);

  font-size: var(--font-s);
  text-decoration: none;
  color: var(--lightest-color);
  font-weight: var(--font-bold);
}

.interactiveNavElement:hover {
  text-decoration: underline;
  color: var(--light-color);
}

.logoutButton {
  font-size: var(--font-xs);

  padding-block: var(--padding-1);
  padding-inline: var(--padding-3);
}
