.appContainer {
  height: 100vh;
}

@media screen and (max-width: 599px) {
}

@media screen and (min-width: 600px) {
  .navContainer {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navElement:last-child {
    margin-right: 2rem;
  }
}

.navContainer {
  padding: 1rem 0rem 1rem 0rem;

  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45);
}

.mainContainer {
  width: 80%;
  margin: auto;
}

.navElement {
  margin: 2rem 0rem 2rem 2rem;

  text-decoration: none;
  color: var(--darkest-color);
}

.navElement:hover {
  text-decoration: underline;
  color: var(--dark-color);
}

.logoutButton {
  margin: 2rem 0rem 2rem 2rem;
  transition: transform 0.3s ease;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.logoutButton:hover {
  transform: scale(1.1);
}
