.appContainer {
  height: 100vh;
}

@media screen and (max-width: 899px) {
  .navElement {
    display: block;
    margin-bottom: var(--margin-2);
  }
}
@media screen and (min-width: 900px) {
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navElement:last-child {
    margin-inline: var(--margin-2);
  }
}

.navBackground {
  padding: 1rem;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow-small);
}

.navContainer {
  width: 80%;
  margin: auto;
}

.mainContainer {
  width: 80%;
  margin: auto;
}

.navElement {
  margin-right: var(--margin-4);

  font-size: var(--font-s);
  text-decoration: none;
  color: var(--lightest-color);
  font-weight: var(--font-bold);
}

.interactiveNavElement:hover {
  text-decoration: underline;
  color: var(--light-color);
}

.logoutButton {
  font-size: var(--font-xs);

  padding-block: var(--padding-1);
  padding-inline: var(--padding-3);
}
