.blogFormContainer {
  background: var(--primary-color);
  display: flex;
  flex: 1, 1, 0;
  justify-content: center;
  padding: var(--padding-5);
}

.blogForm {
  background: #fff;
  box-shadow: var(--box-shadow-medium);
  padding: var(--padding-5);
  width: 50%;
}

@media screen and (max-width: 768px) {
  .blogFormContainer {
    padding: var(--padding-1);
  }
  .blogForm {
    width: 100%;
  }
}

.buttonStyle {
  color: var(--lightest-color);
  background: var(--primary-color);
  font-size: var(--font-xs);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--margin-2);
}

.formElement {
  display: flex;
  flex-direction: column;
}

.formElement > input {
  width: 100%;
}

.formElement > label {
  font-size: var(--font-xs);
  color: var(--medium-color);
}

.formRow {
  display: flex;
  gap: var(--gap-3);
  margin-bottom: var(--margin-2);
}

@media screen and (max-width: 1500px) {
  .formRow {
    flex-direction: column;
    gap: var(--gap-2);
  }
}
