.blogLinkContainer {
  background: var(--lightest-color);
  padding-block: var(--padding-2);
  padding-inline: var(--padding-3);
}

.linkInfo,
.voteInfo,
.userInfo {
  align-items: flex-start;
  display: flex;
  gap: var(--gap-1);
}

.linkInfo > * {
  margin-bottom: var(--margin-0);
}

.voteInfo > * {
  margin-block: var(--margin-0);
  padding-block: var(--padding-0);
}

.userInfo > * {
  font-size: var(--font-size-xs);
  margin-block: var(--margin-0);
  padding: var(--padding-0);
}

.deleteButton {
  padding-inline: var(--padding-1);
}
