.footerContainer {
  background: var(--primary-color);
  min-height: 3rem;
  width: 100%;
  text-align: center;
  padding: 1rem;
  position: absolute;
}

.footerParagraph {
  color: #ffffff;
}

.footerParagraph a {
  color: #ffffff !important;
}
