@media screen and (max-width: 1199px) {
  .mobileNavContainer {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .mobileNavContainer,
  .mobileNavBackground {
    display: none;
  }
}

.mobileNavBackground {
  background: var(--primary-color);
  box-shadow: var(--box-shadow-small);
  min-height: 5rem;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.navContainer {
  margin: auto;
  width: 80%;
}

.navGroup {
  display: flex;
  flex-direction: column;
}

.navElement {
  color: var(--lightest-color);
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  margin-right: var(--margin-4);
  text-decoration: none;
}

.navElement:hover {
  color: var(--light-color);
  text-decoration: underline;
}

.logoutButton {
  font-size: var(--font-xs);

  padding-block: var(--padding-1);
  padding-inline: var(--padding-3);
}

.mobileNavNotification {
  width: 100%;
  bottom: -3rem;
  left: 0;
  margin-inline: auto;

  position: absolute;
}
